
.hor-line-home {
    width: 90%;
}

.payment-header h1 {
    color: rgb(201, 40, 40);
    font-size: 34px;
}
.payment-wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: #e9e7e7;
    border: 1px solid #000;
    border-radius: 6px;
}

.payment-element h2 {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}

.payment-element p {
    font-size: 20px;
    font-weight: 600;
}

.fieldset-label {
    font-size: 20px;
    font-weight: 600;
}

/* stripe elements */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}



/* media query */

@media (min-width: 568px) and (max-width: 767px) {
    .payment-wrapper {
        width: 70%;
    }

    .hor-line-home {
        width: 70%;
    }
    .payment-element h2 {
        font-size: 18px;
    }
    
    .payment-element p {
        font-size: 16px;
    }

    .fieldset-label {
        font-size: 15px;
        font-weight: 500;
    }

}

@media (min-width: 768px)  {
    .payment-wrapper {
        width: 45%;
    }

    .payment-element h2 {
        font-size: 18px;
    }
    
    .payment-element p {
        font-size: 16px;
    }

    .hor-line-home {
        width: 45%;
    }

    .fieldset-label {
        font-size: 15px;
        font-weight: 500;
    }
}