{% extends "base.html" %}
{% load static %}



{% block content %}
<section>
  <div class="banner text-center">
      <h1 class="pt-2 pt-sm-5">CCA<span>Classic Cars Auctions</span> The Perfect To Buy A Classic Car</h1>
      <p class="d-none d-sm-block  text-light font-weight-bold pl-4 pr-4"> We offers enthusiasts the opportunity to buy an impressive selection of iconic cars from across the eras.</p>
      <p class="d-none d-md-block text-light font-weight-bold pl-4 pr-4">We offer a fantastic selection of affordable classic cars presented with extensive information and detailed condition reports.</p>
    </div>
  </div>
</section>
<section id="welcome" class="mt-5">
  <div class="row ml-0 mr-0">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
          <div class="welcome-header text-center">
            <h2 class="header">Welcome To CCA</h2>
          </div>
          <div class="text-justify">
            <p>Classic Car Auctions (CCA) was created in 2015 by the highly respected team from
              Blackpiths Auctions and has
              sold over €30 million worth of cars since then.</p>
            <p> We are a specialist auction house for the sale of Classics Cars which offers
              enthusiasts the opportunity to buy an impressive selection of iconic cars from across the eras.</p>
            <p> Our aim is to make buying and selling classic cars as easy as possible. Our dedicated
              team of knowledgeable classic car specialists will provide sellers with honest and realistic estimates,
              combined with worldwide
              marketing and well-presented sale days which will help your car achieve a great price.</p>
            <p> We offer a fantastic selection of affordable classic cars presented with extensive
              information and detailed condition reports. </p>
          </div>
          <div class="how-to-bid">
            <div class="how-to-bid-header">
              <h3 class="header text-center">How do I bid?</h3>
            </div>
            <div class="how-to-bid-text text-justify">
              <p>You can do this for free on our website by registering an account.</p>
              <p>If an item you're interested in you can place a Bid, in order to buy it you'll have to bid on and
                "win".
                To
                do so, enter value into the box (your bid) and click "Place Bid."</p>
              <p>Before you decide to bid, however, there are some things you should know:</p>
              <p><strong> Our auctions accept bids only for a specific amount of time.</strong> In a traditional
                auction,
                bidders frantically place competing bids. When bidding slows to nothing, the auctioneer pounds the gavel
                and
                the item is sold. On CCA, auctions are open to bids for exactly 1 day. When time is up, the high bidder
                wins, even if people are still frantically bidding.</p>
              <p> <strong> If your bid wins, you must buy.</strong> Your bid on an auction is a legally binding
                contract.
                If, when time runs out, your bid is the highest, you have purchased the item and must pay the  for
                it.
              </p>
            </div>
          </div>
          <div class="guarantee">
            <div class="guarantee-header">
              <h3 class="header text-center">Is there a guarantee on my purchase?</h3>
            </div>
            <div class="guarantee-text text-justify">
              <p>No, cars are sold on an as seen basis. You are advised to satisfy yourself as to the vehicles condition and suitability before bidding. We offer viewing opportunities, as well as photographic content for each car offered.</p>
            </div>
          </div>
      </div>
    </div>
</section>

{% endblock %}