{% extends "base.html" %}
{% load static %}



{% block content %}

{{ cars }}
<section>
  <div class="banner text-center">
    <h1 class="pt-2 pt-sm-5 pt-5">CCA<span>Classic Cars Auctions</span> The Perfect Place To Buy your Classic Car</h1>
    <p class="d-none d-sm-block  text-light px-2"> We offers enthusiasts the opportunity to buy an
      impressive selection of iconic cars from across the eras.</p>
    <p class="d-none d-lg-block text-light px-2">We offer a fantastic selection of affordable
      classic cars presented with extensive information and detailed condition reports.</p>
  </div>
  </div>
</section>
<section id="welcome" class="mt-5">
  <div class="row ml-0 mr-0">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
      <div class="welcome-header text-center">
        <h2 class="header">Welcome To CCA</h2>
      </div>
      <div class="text-justify">
        <p>Classic Car Auctions (CCA) was created in 2015 by the highly respected team from
          Blackpiths Auctions and has
          sold over €30 million worth of cars since then.</p>
        <p> We are a specialist auction house for the sale of Classics Cars which offers
          enthusiasts the opportunity to buy an impressive selection of iconic cars from across the eras.</p>
        <p> Our aim is to make buying and selling classic cars as easy as possible. Our dedicated
          team of knowledgeable classic car specialists will provide sellers with honest and realistic estimates,
          combined with worldwide
          marketing and well-presented sale days which will help your car achieve a great price.</p>
        <p> We offer a fantastic selection of affordable classic cars presented with extensive
          information and detailed condition reports. </p>
      </div>
    </div> 
  </div>
  <hr class="hor-line-home my-5">
  {% if car %}
  <div class="sold  my-5">
    <div class="row mx-0 bx-0">
      <div class="col col-10 offset-1 col-md-6 offset-md-3  pt-3 Shelby">
        <h5 class="footer-header"><a href="{% url 'home' %}">CCA<span>Classic Cars
          Auctions</span></a></h5>
        <img class="" src="{{ car.image.url }}" alt="{{ car.make }}">
        <h3 class="text-center mb-2">Sold</h3>
        <p class="text-center mb-4 text-light">{{ car.make }} {{ car.model }} Sold For {{ highest_bid }} €</p>
      </div>
    </div>
  </div>
  {% else %}
  <div class="sold  my-5">
    <div class="row mx-0 bx-0">
      <div class="col col-10 offset-1 col-md-6 offset-md-3  pt-3 Shelby">
        <h5 class="footer-header"><a href="{% url 'home' %}">CCA<span>Classic Cars
          Auctions</span></a></h5>
        <img class="" src="{% static 'images/mustang-sold.jpg' %}" alt="1965 Shelby GT 350">
        <h3 class="text-center mb-2">Sold</h3>
        <p class="text-center mb-4 text-light">1965 Shelby GT 350 Sold For 35000€</p>
      </div>
    </div>
  </div>
  {% endif %}
  <hr class="hor-line-home my-5">
  <div class="row  mt-5 px-0 mx-0">
    <div class="col col-10 offset-1  col-sm-5 how-to-bid">
      <div class="info-header mb-3">
        <h3 class="header text-center">How do I bid?</h3>
      </div>
      <div class="info-text text-justify">
        <p>You can do this for free on our website by registering an account.</p>
        <p>If an item you're interested in you can place a Bid, in order to buy it you'll have to bid on and
          "win".
          To
          do so, enter value into the box (your bid) and click "Place Bid."</p>
        <p>Before you decide to bid, however, there are some things you should know:</p>
        <p><strong> Our auctions accept bids only for a specific amount of time.</strong> In a traditional
          auction,
          bidders frantically place competing bids. When bidding slows to nothing, the auctioneer pounds the gavel
          and
          the item is sold. On CCA, auctions are open to bids for exactly 1 day. When time is up, the high bidder
          wins, even if people are still frantically bidding.</p>
        <p> <strong> If your bid wins, you must buy.</strong> Your bid on an auction is a legally binding
          contract.
          If, when time runs out, your bid is the highest, you have purchased the item and must pay for
          it.
        </p>
      </div>
    </div>
    <div class="col col-10 offset-1 offset-sm-0 col-sm-5 colguarantee">
      <div class="info-header mb-3">
        <h3 class="header text-center">Is there a guarantee on my purchase?</h3>
      </div>
      <div class="info-text text-justify">
        <p>No, cars are sold on an as seen basis. You are advised to satisfy yourself as to the vehicles condition and
          suitability before bidding. We offer viewing opportunities, as well as photographic content for each car
          offered.Please call us to arrange a viewing and obtain a full detailed technical report. Suppose you cannot view the car you want to bid for in person, thats no problem. Just ask for the technical report. We will send it to you by email.</p>
           <ul>
            <li class="my-0">To call us from Ireland :<span class="ml-2 text-info font-weight-bold">01 000177</span>.</li>
            <li class="my-0">From from abroad :<span class="ml-2 text-info font-weight-bold">00353 1 000177</span>.</li>
         </ul>
      </div>
      <div class="Logbook">
        <div class="info-header my-3">
          <h3 class="header text-center">What happens with the Logbook ?</h3>
        </div>
        <div class="info-text text-justify">
          <p>We will process the Logbook and it will be registered to the new keeper online within 14 working days. The
            details used will be those that the buyer registered with, unless we are notified in writing otherwise.</p>

          <p>Where lots have entered the Ireland on a temporary admission, we will instruct the import agent to obtain
            the necessary to register the vehicle.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="hor-line-home my-5">

</section>

{% endblock %}
