{% extends "base.html" %}
{% load static %}



{% block content %}
<section id="auction-detail">
  <div class="car">
    <div class="row mx-0 px-0 my-5 car-card">
      <h2 class="col col-12  mt-3 text-uppercase"> {{ car.make }} <span>{{ car.model }}</span></h2>
      <div class="col col-12">
        <div class="row">
          <div class="col col-12  col-md-6 car-img-container">
            <img src="{{ car.image.url }}" alt="">
          </div>
          <div class="col col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6 my-3">
            <h5 class="footer-header"><a href="{% url 'home' %}">CCA<span>Classic Cars
                  Auctions</span></a></h5>
            <div class="row">
              <div class="col-6">
                <p class="my-1">First Registred<span
                    class="text-info text-capitalize d-block">{{ car.firstRegistred }}</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Color<span class="text-info text-capitalize d-block">{{ car.color }}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="my-1">Odometer<span class="text-info d-block">{{ car.odometer }} km</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Transmission<span
                    class="text-info text-capitalize d-block">{{ car.transmission }}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="my-1">Reserved Price<span class="text-info d-block">{{ car.reservedPrice }}</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Fuel Type<span class="text-info text-capitalize d-block">{{ car.fuelType }}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="my-1">Auction Staring<span class="text-info d-block">{{ car.timeStart }}</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Auction Ending<span class="text-info d-block">{{ car.timeEnd }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-10 offset-1">
        <p class="text-info mb-0 mt-4 mb-2 font-weight-bold">Description</p>
        <p class="text-justify">{{ car.description }}</p>
      </div>
    </div>
    <div class="bidding-panel">
      {% if request.user.is_authenticated %}
      <h3 class="header text-center text-info">Bidding Panel</h3>
      <div class="row">
        <div class="col col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 bg-light mb-1 border border-dark">
          <p>Time Staring : {{ car.timeStart }}</p>
        </div>
        <div class="col col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 bg-light mb-1 border border-dark">
          <p>Time remaining : {{ car.timeStart }}</p>
        </div>
        <div class="col col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 bg-light mb-1 border border-dark">
          <p>Closing Date: {{ car.timeStart }}</p>
        </div>
         <div class="col col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 bg-light mb-1 border border-dark">
          <p>Number of bids: 4</p>
        </div>
          <div class="col col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 bg-light mb-1 border border-dark">
          <form action="">
            <label for="bid">Place Your Bid</label>
            <input type="number" name="bid" id="bid" placeholder="">
            <button class="" type="submit">Bid</button>
          </form>
        </div>
        </div>

      </div>

      {% else %}
      <h4 class="header text-center text-info"><a href=""> Please Sign in to Bid</a></h4>
      {% endif %}
      
  </div>
</section>
{% endblock %}
