{% extends "base.html" %}
{% load static %}



{% block content %}
<section id="auction-detail">
  <div id="car" class="my-5">
    <div class="row mx-0 px-0 my-5 car-card">
      <div class="row mx-0 px-0 my-5 car-card">
        <h2 class="col col-12  mt-3 text-uppercase"> {{ car.make }} <span>{{ car.model }}</span></h2>
        <div class="col col-12">
          <div class="row">
            <div class="col col-12  col-md-6 car-img-container">
              <img src="{{ car.image.url }}" alt="car image">
            </div>
            <div class="col col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6 my-3">
              <div class="mb-4 text-center auction-logo">
                <p class="text-danger">CCA<span class="ml-3 block">Classic Cars
                    Auctions</span></p>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <p class="my-2 pl-md-5">First Registred<span
                      class="text-info text-capitalize d-block">{{ car.firstRegistred }}</span></p>
                </div>
                <div class="col-6">
                  <p class="my-2 pl-md-5">Color<span class="text-info text-capitalize d-block">{{ car.color }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="my-2 pl-md-5">Odometer<span class="text-info d-block">{{ car.odometer }} km</span></p>
                </div>
                <div class="col-6">
                  <p class="my-2 pl-md-5">Transmission<span
                      class="text-info text-capitalize d-block">{{ car.transmission }}</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="my-2 pl-md-5">Reserved Price<span class="text-info d-block">{{ car.reservedPrice }} €</span>
                  </p>
                </div>
                <div class="col-6">
                  <p class="my-2 pl-md-5">Fuel Type<span
                      class="text-info text-capitalize d-block">{{ car.fuelType }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="car-description1" class="col col-10 offset-1">
          <p class="text-info mb-0 mt-4 mb-2 font-weight-bold">Description</p>
          <p class="text-justify">{{ car.description|truncatewords:"50" }}</p>
          <button id="show-description" class="description-btn mt-0">show-more</button>

        </div>
        <div id="car-description2" class="col col-10 offset-1 hide">
          <p class="text-info mb-0 mt-4 mb-2 font-weight-bold">Description</p>
          <p class="text-justify">{{ car.description }}</p>
          <button id="hide-description" class="description-btn mt-0">show less</button>

        </div>
      </div>
    </div>
    <div class="bidding-panel pb-4">
      {% if highest_bid_obj.winnerBid %}

      {% include 'includes/auction_detail/sold.html' %}

      {% if user.is_authenticated and not existing_payment %}

      {% if request.user.id == highest_bid_obj.user.id %}

      {% include 'includes/auction_detail/payment_link.html' %}

      {% endif %}
      {% endif %}

      {% else %}
      <h3 class="header text-center text-info">Bidding Panel</h3>
      <div class="row">
        {% if  auction_is_on %}
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3  bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Closing Date: <span
              class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - d/M' }}</span></p>
        </div>
        {% if request.user.is_authenticated %}
        <div
          class="col col-10 col-sm-6  offset-1 offset-sm-3  min-bid bg-light mb-1 border border-dark text-center panel-item">
          <p> Minimum Bid<span class="text-danger font-weight-bold mx-1">{{ min_bid }}</span>€</p>
        </div>
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3 bg-light mb-1 border border-dark text-center">
          <h4 class="text-info font-weight-bold mt-3">Bidding History</h4>
          {% if bids|length > 0 %}
          <div class="col-12 col-lg-8  offset-lg-2 mb-4">
            <div class="history table-responsive">
              <table class="table table-sm table-borderless  bg-grey-light">
                <thead>
                  <tr>
                    <th>Bid</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bid in bids %}
                  <tr>
                    <td class="bid-amount-history">
                      {{ bid.amount }}€
                    </td>
                    <td class="bid-date-history">{{bid.time|date:'G:i - d - M'}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <p>No Bids yet for this item</p>
          {% endif %}
        </div>
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3 text-center my-3">
          <button id="show-bidding-form" class="btn btn-lg red-background text-light border border-dark"> Place a
            Bid</button>
        </div>
        {% else %}
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3  my-3">
          <h4 class="header bid-login-message text-center text-info"><a href="{% url 'account_login' %}"> Please Sign in to Bid</a></h4>
        </div>
        {% endif %}
        {% else %}
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3  bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Starting Date: <span
              class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - d/M' }}</span></p>
        </div>
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3 bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Closing Date: <span
              class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - d/M' }}</span></p>
        </div>
        {% endif %}


      </div>
    </div>
  </div>
  {% if request.user.is_authenticated and auction_is_on %}
  <div id="add_bid" class="my-5 border">
    <h1 class="header text-center pt-5">Place Your Bid</h1>
    <div class="col col-10 offset-1 mt-3 legal-info">
      <p class="text-justify"><span class="text-danger font-weight-bold mr-3">Please note:</span>If your bid is the
        winning bid, you are legally committed to buying this item. Otherwise, you will be banned from <span
          class="text-danger"> Classic Cars Auction</span>. A deposit of 10% of the total amount should be paid online
        through our payment system within 24h of the auction's end.</p>
    </div>
    <div class="text-center font-weight-bold mt-4 text-info">The next
      bid must be
      at least €<span class="text-danger"> {{ min_bid }}</span>.
    </div>

    <div id="bidding-form" class="bid-form text-center pb-5">
      <form action="{% url 'auction_detail' car.id %}" method="POST" class="mt-3">
        {% csrf_token %}
        {{ form }}
        <button class="btn text-light red-background border border-dark mt-4" type="submit">Add</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% endif %}
</section>


{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
  $('#show-bidding-form').click(function () {
    $('#car').css({
      'display': 'none',
    });
    $('#add_bid').css({
      'display': 'block',
    });
  });

</script>
<script>
  $('#show-description').click(function () {
    $('#car-description1').addClass('hide');
    $('#car-description2').removeClass('hide');
  });
  $('#hide-description').click(function () {
    $('#car-description1').removeClass('hide');
    $('#car-description2').addClass('hide');
  });

</script>
{% endblock %}
