{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="auctions" class="pb-5">
    <div class="auction-search mt-4 mb-5">
        <form action="all_auctions" method="get" class="bg-secondary">
            <h1 class="header text-light ml-5 pt-3">Car search</h1>
            <div class="row mx-0 my-0 px-0 py-0">
                <div class="col-10 offset-2 col-sm-4">
                    <p class="mb-0 text-light">Make</p>
                    {{ auctions_filter.form.make}}
                </div>
                <div class="col-10 offset-2 col-sm-4 offset-sm-1">
                    <p class="mb-0 text-light">Fuel type</p>
                    {{ auctions_filter.form.fuel_type}}
                </div>
                <div class="col-10 offset-2 col-sm-4 mt-2">
                    <p class="mb-0 text-light">Min Age</p>
                    {{ auctions_filter.form.year_gt }}
                </div>
                <div class="col-10 offset-2 col-sm-4 offset-sm-1 mt-2">
                    <p class="mb-0 text-light">Max Age</p>
                    {{ auctions_filter.form.year_lt }}
                </div>
                <div class="col-10 offset-2 col-sm-4 offset-sm-2 mt-2">
                    <p class="mb-0 text-light">Min Reserved Price</p>
                    {{ auctions_filter.form.reserved_price_gt }}
                </div>
                <div class="col-10 offset-2 col-sm-4 offset-sm-1 mt-2">
                    <p class="mb-0 text-light">Max Reserved Price</p>
                    {{ auctions_filter.form.reserved_price_lt }}
                </div>
                <div class="col-10 offset-2 col-sm-5 offset-sm-4 mt-2">
                    <p class="mb-0 text-light">Enter A Key Word</p>
                    {{ auctions_filter.form.description }}
                </div>
            </div>
            <div class="text-right mt-sm-5 mt-md-2">
                <button class="btn btn-md red-background text-light mr-5 mb-4" type="submit">Search</button>
            </div>
        </form>
    </div>

    {% for car in cars %}
    <div class="car mb-5">
        <div class="row mx-0 px-0">
            <h2 class="col col-12  mt-3 text-uppercase"> {{ car.make }} <span>{{ car.model }}</span></h2>
            <div class="col col-12">
                <div class="row">
                    <div class="col col-12  col-md-6 car-img-container">
                        <img src="{{ car.image.url }}" alt="{{ car.make }}">
                    </div>
                    <div class="col col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6 my-3">
                        <h5 class="footer-header"><a href="{% url 'auction_detail' car.id %}">CCA<span>Classic Cars
                                    Auctions</span></a></h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-1">First Registred<span
                                        class="text-info text-capitalize d-block">{{ car.firstRegistred }}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="my-1">Color<span
                                        class="text-info text-capitalize d-block">{{ car.color }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-1">Odometer<span class="text-info d-block">{{ car.odometer }} km</span></p>
                            </div>
                            <div class="col-6">
                                <p class="my-1">Transmission<span
                                        class="text-info text-capitalize d-block">{{ car.transmission }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-1">Reserved Price<span class="text-info d-block">{{ car.reservedPrice }}
                                        €</span></p>
                            </div>
                            <div class="col-6">
                                <p class="my-1">Fuel Type<span
                                        class="text-info text-capitalize d-block">{{ car.fuelType }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="my-1">Auction Staring<span
                                        class="text-info d-block">{{ car.timeStart|date:'G:i - d/M' }}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="my-1">Auction Ending<span
                                        class="text-info d-block">{{ car.timeEnd|date:'G:i - d/M' }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center w-100">
                <a class="btn btn-lg red-background  my-4 text-light" href="{% url 'auction_detail' car.id %}">View This
                    Auction</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr class="hor-line-home my-5">

</section>
{% endblock %}
