{% extends "base.html" %}
{% load static %}



{% block content %}
<section id="auction-detail">
  <div class="car">
    <div class="row mx-0 px-0 my-5 car-card">
      <h2 class="col col-12  mt-3 text-uppercase"> {{ car.make }} <span>{{ car.model }}</span></h2>
      <div class="col col-12">
        <div class="row">
          <div class="col col-12  col-md-6 car-img-container">
            <img src="{{ car.image.url }}" alt="car image">
          </div>
          <div class="col col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6 my-3">
            <h5 class="footer-header"><a href="{% url 'home' %}">CCA<span>Classic Cars
                  Auctions</span></a></h5>
            <div class="row">
              <div class="col-6">
                <p class="my-1">First Registred<span
                    class="text-info text-capitalize d-block">{{ car.firstRegistred }}</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Color<span class="text-info text-capitalize d-block">{{ car.color }}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="my-1">Odometer<span class="text-info d-block">{{ car.odometer }} km</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Transmission<span
                    class="text-info text-capitalize d-block">{{ car.transmission }}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="my-1">Reserved Price<span class="text-info d-block">{{ car.reservedPrice }} €</span></p>
              </div>
              <div class="col-6">
                <p class="my-1">Fuel Type<span class="text-info text-capitalize d-block">{{ car.fuelType }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-10 offset-1">
        <p class="text-info mb-0 mt-4 mb-2 font-weight-bold">Description</p>
        <p class="text-justify">{{ car.description }}</p>
      </div>
    </div>
    <div class="bidding-panel pb-4">
      <h3 class="header text-center text-info">Bidding Panel</h3>
      <div class="row">
        {% if  auction_is_on %}
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3  bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Closing Date: <span class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - D/m' }}</span></p>
        </div>
          {% if request.user.is_authenticated %}
          <div class="col col-10 col-sm-6  offset-1 offset-sm-3  min-bid bg-light mb-1 border border-dark text-center panel-item"><p> Minimum Bid<span class="text-danger font-weight-bold mx-1"> {{ min_bid }}</span>€</p></div>
            <div class="col col-10 col-sm-6  offset-1 offset-sm-3  bg-light mb-1 border border-dark">
                <h4 class="text-info font-weight-bold mt-3">Biding History</h4>
                {% if bids|length > 0 %}
                  {% for bid in bids %}
                    <p class="border border-dark text-center"> <span class="text-danger mr-2">{{ bid.amount }}€</span> At {{bid.time|date:'G:i - D'}}</p>
                  {% endfor %}
                {% else %}
                  <p>No Bids yet for this item</p>
                {% endif %}
          </div> 
               <div class="col col-10 col-sm-6  offset-1 offset-sm-3 text-center my-3">
               <a class="btn btn-lg red-background text-light border border-dark" href="{% url 'get_user_bid' %}"> Place a Bid</a>
              </div>
          {% else %}
          <div class="col col-10 col-sm-6  offset-1 offset-sm-3  my-3">
            <h4 class="header text-center text-info"><a href=""> Please Sign in to Bid</a></h4>
            </div>
          {% endif %}
        </div>
        {% else %}
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3  bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Starting Date: <span class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - D/m' }}</span></p>
        </div>
        <div class="col col-10 col-sm-6  offset-1 offset-sm-3 bg-light mb-1 border border-dark panel-item">
          <p class="text-center">Closing Date: <span class="text-danger font-weight-bold mx-1">{{ car.timeEnd|date:'G:i - D/m' }}</span></p>
        </div>

        {% endif %}
      </div>
     
</section>
{% endblock %}
