/* general */
body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

a:hover {
    color: #fff;
}

.no-margin {
    margin: 0px !important;
}

.hide {
    display: none;
}

.show {
    display: block
}

.header{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

.block {
    display: block;
}

.red-background {
    background-color: rgb(201, 40, 40);
}

.text-red {
    color: rgb(201, 40, 40);
}

.bg-grey-light {
    background-color: #e9e7e7;;
}

.bottom-border {
    border-bottom: 1px solid rgb(201, 40, 40);  
}

.border-left {
    border-left: 1px solid rgb(201, 40, 40); 
}

.romove-border {
    border: none;
}

.capitlise {
    text-transform: capitalize;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif; */

/* main header */
.main-header {
    background-color: rgb(201, 40, 40);
    text-align: left;
    line-height: 1;
}


.logo-abbreviation {
    font-size: 70px !important;
    font-weight: 700;
    color: #fff;
    font-weight: 600;
    display: block;
    margin: 0;

}

.logo-text {
    color: #fff;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 5px;
}

.main-header a:hover {
    text-decoration: none;
    color: #fff;
}

/* navbar */

.navbar {
    background-color: rgb(201, 40, 40);
    height: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    line-height: 1;
}

.navbar-toggler {
    border: 1.5px solid #fff;
}

.navbar-toggler i {
    color: #fff;
    font-size: 140%;
}

.navbar-nav {
    width: 100%;
    background-color: #222222;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

.nav-item {
    width: 95%;
    margin: 0 auto;
    background-color: rgb(201, 40, 40);
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 6px;
    text-align: center;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

/* banner */

/* banner-image */

.banner {
    background: -webkit-linear-gradient(#6e6c6d, #41494d), url("/static/images/home-img.jpg");
    background-blend-mode: multiply;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 310px;
    border-bottom: 2px solid rgb(179, 16, 16);
}

.banner h1 {
    top: 100px;
    color: #fff;
    padding: 0 20px; 
}

.banner h1 span {
    font-family: 'Lobster', cursive;
    display: block;
}

.banner p {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* welcome */

.welcome-header h2, .info-header h3 {
    color:rgb(201, 40, 40);
}

.info-header h3 {
    font-size: 18px;
}

.hor-line-home {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(201, 40, 40);
}

#welcome p {
    color: #212529;
    margin-bottom: 10px;
    font-size: 16px;
}

/* sold */

.sold {
   width: 100%;
   color: #fff;
   
}
.Shelby {
    border: 2px solid #000;
    border-radius: 6px;
    background: linear-gradient(-45deg, #ccc5c8, #41494d, #cc3217, rgb(201, 40, 40));
}

.sold img {
   width: 100%;
   position: relative;
   border-radius: 6px;
}

.sold h3 {
    font-size: 50px;
    font-weight: 700;  
}

.sold p {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

/*auctions */

/* auction-search  */

.auction-search {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #cc3217;
    border-radius: 6px;
}
.auction-search input {
    width: 90%;
}

.auction-search p {
    font-size: 15px;
    letter-spacing: 1px;
}

.auction-search button {
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
#all-cars {
    width: 100%;
}



.car, #car {
    width: 90%;
    margin: 0 auto;
    border: rgb(201, 40, 40) 2px solid;
    border-radius: 6px;
    background-color:#e9e7e7;
}


.car h2, #car h2 {
    color: rgb(201, 40, 40);
    font-size: 24px;
}


.car p {
    font-size: 15px;
}

.car-img-container {
    height: 55%;
    width: 90%;
    margin: 0 auto;
}

.car-img-container img {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(228, 220, 220);
    border-radius: 6px;
}

/* auction detail */
#auction-detail {
    width: 100%;
}

#car {
    border: none;
    width: 95% !important;
}

.auction-logo p {
    font-size: 25px !important;
    font-weight: 600;
}

.auction-logo p span {
    font-family: 'Lobster', sans-serif;;
}

#car-description1 p, #car-description2 p {
    font-size: 15px;
}

#hide-description, #show-description {
    background-color: transparent;
    border: none;
    color: #17a2b8;
}


.panel-item p {
    margin-top: 10px;
    font-weight: 600;

}

.history {
    max-height: 250px;
    overflow-y: auto;
}

td.bid-amount-history, td.bid-date-history {
    margin: 0;
    padding: 0;
}

.item-sold p {
    color: #cc3217;
    font-size: 30px;
    font-weight: bold;
}

.car-description1 p{
    position: relative;
}

#show-description {
    position: absolute;
    bottom: 0;
    right: 0;
}

#add_bid {
    width: 95%;
    background-color: #e9e7e7;
    border: 2px solid #000 !important;
    border-radius: 6px;
    margin: 0 auto;
    display: none;
}

#cancel {
    font-size: 140%;
    color: rgb(201, 40, 40);
    cursor: pointer;
}

#add_bid h2 {
    color:rgb(201, 40, 40);
}

.legal-info p{
    font-size: 16px;
    font-weight: 600;
}

.bid-form input {
    border: 2px solid #17a2b8;
}

.bid-form label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.bid-form button {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 200px;
    left: 50px;
    z-index: 100;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content .btn,
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #cc3217;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content .btn {
    background-color: #f5f5f5;
    color: #000;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


.hor-line-all_auth {
    margin: 0 auto;
    border-bottom: 1px solid rgb(201, 40, 40);
}


/* footer */

footer {
    width: 100%;
}

.footer-wrapper {
    width: 95%;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    background: linear-gradient(-45deg, #ccc5c8, #41494d, #cc3217, rgb(201, 40, 40));
    border: 2px solid rgb(19, 15, 15);
    border-radius: 5px;
    margin-top: 20px;


}

.footer-container {
    background-color: #ccc5c8;
    border-radius: 5px;
    width: 90%;
    margin: 5% auto;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px solid #fff;
    font-weight: 400;
    color: #000;
    line-height: 1.3;
}

.footer-header {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: rgb(201, 40, 40);
    border: 1px black solid;
    border-radius: 6px;
    text-align: center;
}

.footer-header a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
}

.footer-header a span {
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: block;
    position: relative;
    top: -7px;
}


footer li a {
    color: #000;
}

footer li i {
    font-size: 120%;
}

.copy-right a {
    color: #fff;
    font-size: 20px;
    font-family: 'Lobster', sans-serif;
    margin-left: 10px;
    background-color: #cc3217;
    display: inline-block;
}

.footer-img {
    width: 100px;
    position: absolute;
    right: 10%;
    border: 2px solid #000;
    border-radius: 50%;
    display: none;
    z-index: 1;
}

/* media queries */

@media (min-width: 200px) and (max-width: 300px)  {

    /* banner */

    .banner {
        height: 400px;
    }

    .banner h1 {
        font-size: 32px;
    }
    
}


 @media (min-width: 320px) and (max-width: 568px)  {

    /* banner */

    .banner h1{
        font-size: 32px;
    }

    
    /* footer */

    .footer-img {
        display: block;
    }
} 

@media (min-width: 568px) and (max-width: 767px)  {

    .auction-search {
        width: 80%;
    }

    .car {
        width: 80%;
    }

    .auction-search p {
        font-size: 14px;
    }

    .car-img-container img {
        width: 80%;
        border: 2px solid rgb(201, 40, 40);
        border-radius: 6px;
        margin-left: 10%;
    }

    .auction-search button {
        font-size: 16px;
        font-weight: 500;
    }
    /* auction_detail */

    #car {
        width: 80% !important;
    }

    .bid-form button {
        width: 10%;
    }

    /* ------------------------------- bootstrap toasts */

    .message-container {
        position: fixed;
        left: 30%;
        z-index: 10;
    }

}


@media (min-width: 768px) {

    /* main header */

    .main-header {
        text-align: center;
        padding-bottom: 15px;
    }

    /* navbar */
    .navbar {
        height: 40px;
        background-color: #222222;
    }

    .navbar-nav {
        padding-bottom: 0;
        width: 70%;
        margin: 0 auto;
    }

    li.nav-item {
        border: none;
        background-color: #222222;
        margin: 0;

    }

    .nav-link {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        background-color: rgb(201, 40, 40);
        border: 1px solid #fff;
        border-radius: 6px;
        width: 80%;
    }

    .auction-search {
        width: 80%;
    }

    .car {
        width: 80%;
    }

    .auction-search p {
        font-size: 14px;
    }

    .auction-search button {
        font-size: 16px;
        font-weight: 500;
    }

    .message-container {
        position: fixed;
        left: 40%;
        z-index: 10;
    }
     /* auction_detail */

      #car {
        width: 80% !important;
    }


    .bid-form button {
        width: 150px;
    }

     /* footer */

     .footer-wrapper {
        width: 70%;
    }

    .footer-container {
        width: 90%;
    }
}




