{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<hr class="hor-line-all_auth mt-5 mb-3">
<h2 class="logo-font mb-4 text-center text-danger">{% trans "Set Password" %}</h2>
<hr class="hor-line-all_auth mb-5">
    

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
