{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/d3a55e8efe.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,700;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Boutique Ado {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col ">
                    <a href="{% url 'home' %}" class="logo-abbreviation">CCA</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'home' %}" class="logo-text">Classic Cars Auctions</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler ml-4 mt-2 mb-2" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Auctions</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}



    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-wrapper mb-sm-5">
            <div class="footer-container py-4">
                <div class="row">
                    <div class="col">
                        <h5 class="footer-header"><a href="{% url 'home' %}">CCA<span><small>Classic Cars
                                        Auctions</small></span></a></h5>
                        <p class="text-justify">Classic Car Auction brings you the energy and excitement of a live
                            classic car auction! We
                            assemble some of the finest collector cars for sale for you to bid on and take home to your
                            garage. See how
                            easy it is to register and buy with us! </p>
                    </div>
                </div>
                <div class="row mb-5 mb-sm-1">
                    <img class="footer-img" src="{% static 'images/footer-img.png' %}" alt="logo">
                    <div class="col col-10 offset-sm-2">
                        <ul class="row offset-1 list-unstyled">
                            <li class="col col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                    href="{% url 'home' %}"><strong>Home</strong> </a></li>
                            <li class="col col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                    href="#"><strong>Auctions</strong> </a></li>
                            {% if request.user.is_authenticated %}
                            <li class="col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                href="#"><strong>Profile</strong></a></li>
                            <li class="col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                    href="#"><strong>Logout</strong></a></li>
                            {% else %}
                            <li class="col col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                    href="#"><strong>Register</strong></a></li>
                            <li class="col col-12 col-sm-2 mr-sm-2"><a class="text-danger"
                                    href="#"><strong>Login</strong></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col col-10 offset-1 offset-sm-0">
                        <ul class="row list-unstyled">
                            <li class="col col-12 col-sm-5 col-lg-3"><i class="fas fa-phone-alt"></i> 001 000177</li>
                            <li class="col col-12 col-sm-6 col-lg-4"><i class="fas fa-paper-plane"></i>
                                classic_cars@cca.com</li>
                            <li class="col col-12 col-sm-8 ofsset-sm-1 col-lg-5 offset-lg-0 mt-2 mt-lg-0"><i
                                    class="fas fa-map-marker-alt"></i> 9 Mount Julia Avenue Dublin 16</li>
                        </ul>

                    </div>
                    <div class="col col-10 offset-2 col-sm-4 offset-sm-5 mr-4 mb-3">
                        <ul class="row list-unstyled">
                            <li class="col-2 col-sm-1"><a href="#"><i
                                        class="fab fa-facebook-f text-danger fs-4"></i></a></li>
                            <li class="col-2 col-sm-1"><a href="#"><i class="fab fa-twitter text-danger fs-4"></i></a>
                            </li>
                            <li class="col-2 col-sm-1"><a href="#"><i class="fab fa-youtube text-danger fs-1"></i></a>
                            </li>
                            <li class="col-2 col-sm-1"><a href="#"><i
                                        class="fab fa-instagram-square text-danger fs-4"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-10 offset-1 ">
                        <p class="mb-0 copy-right">&copy; Copyrights. All rights reserved.<a href="#">Classic Car
                                Auctions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}


</body>

</html>
