{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block content %}


<section id="payment-section" class=" pt-3">
  <hr class="hor-line-home my-3">
  <div class="payment-header text-center">
    <h1 class="header">Payment</h1>
  </div>
  <hr class="hor-line-home my-3">
  <div class="payment-wrapper">
    {% for item in winner_bid %}
      <div class="payment-element ml-3 mt-4">
        <h2 class="text-info">Payment Sumary</h2>
        <p class="mb-2">Car :<span class="text-danger ml-2 mr-1 text-capitalize">{{ item.car.make }}, {{ item.car.model }}</span>
          {{ item.car.firstRegistred }}</p>
        <p class="mb-2">Price :<span class="text-danger ml-2 mr-1">{{item.amount }}</span>€</p>
        <p>Deposit to pay :<span class="text-danger ml-2 mr-1">{{ deposit }}</span>€</p>
      </div>
      <div class="payment-element">
        <h2 class="text-info ml-3 my-4">Payment Details</h2>
        <div class="info-text text-justify">
          <form action="{% url 'payment' item.id %}" id="payment-form" method="post">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
              <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
              {{ payment_form.full_name | as_crispy_field }}
              {{ payment_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
              <legend class="fieldset-label small text-black px-2 w-auto">New Owner Info</legend>
              {{ payment_form.phone_number | as_crispy_field }}
              {{ payment_form.country | as_crispy_field }}
              {{ payment_form.postcode | as_crispy_field }}
              {{ payment_form.town_or_city | as_crispy_field }}
              {{ payment_form.street_address1 | as_crispy_field }}
              {{ payment_form.street_address2 | as_crispy_field }}
              {{ payment_form.county | as_crispy_field }}
              <div class="form-check form-check-inline float-right mr-0">
                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
              </div>
            </fieldset>
            <fieldset class="px-3">
              <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
              <!-- A Stripe card element will go here -->
              <div class="mb-3" id="card-element"></div>

              <!-- Used to display form errors -->
              <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            </fieldset>
            <button id="submit-button" class="btn btn-black rounded-0">
              <span class="font-weight-bold">Complete Payment</span>
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
            </button>
            <p class="small text-danger my-0 ml-3">
              <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
              </span>
              <span>Your card will be charged <strong>${{ deposit|floatformat:2 }}</strong></span>
            </p>
        </div>
        </form>
      </div>
  </div>
  {% endfor %}
</section>
<hr class="hor-line-home my-5">
{% endblock %}

